body {
    background-color: #F0F2F7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.section1 {
    border: 0px;
    padding: 0px;
    margin: 0px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
}

.section1 h1 {
    color: #336699;
    font-size: 40px;
}

.section2 {
    border: 0px;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.section2 fieldset {
    width: 370px;
    height: 250px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.section2 label {
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    padding-bottom: 10px ;
}

.section2 input {
    width: 90%;
    padding: 15px;
    margin: 5px;
    font-size: medium;
    border-radius: 5px;
    border-width: 1px;
    border-color: #F0F2F7;
}

.section2 input:focus {
    border-color: #338399;
    box-shadow: 0 0 3px #5ca2c2;
    outline: none;
}

.section2 button {
    padding: 15px;
    margin: 5px;
    font-size: large;
    border-radius: 10px;
    border: none;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
}

.section2 button a {
    color: #FFFFFF;
}

.section2 #button1 {
    width: 100%;
    background-color: #336699;
}

.section2 #button1:hover {
    background-color: #1c3e5f;
}

.section2 a {
    text-decoration: none;
    color: #338399;
}

@media screen and (max-width: 600px) {
    body {
        padding: 30px;
    }

    .section1 {
        height: 25vh;
        width: 25vw;
    }

    .section2 fieldset {
        height: 75vh;
        width: 75vw;
    }

    .section2 input {
        width: 80vw;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {
    body {
        padding: 30px;
    }

    .section1 {
        height: 25vh;
        width: 25vw;
    }

    .section2 fieldset {
        height: 75vh;
        width: 75vw;
    }

    .section2 input {
        width: 80vw;
    }
}
