.log-style {
    width: 100vw;
    height: 100vh;
}

.section1-log {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 5em;
    width: 100vw;
    height: 25vh;
}

.section1-log h1 {
    color: #0866ff;
    font-size: 5vw;
}

.section2-log form {
    text-align: center;
    padding: 3em;
    height: 75vh;
    width: 100vw;
}

.section2-log fieldset {
    margin: auto;
    width: 80%;
    max-width: 600px;
    background-color: #FFFFFF;
    border: none;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.section2-log label {
    font-size: 1.3em;
    font-family: 'Arimo', sans-serif;
    padding-bottom: 0.5em;
}

.section2-log input {
    width: 100%;
    padding: 0.5em;
    font-size: medium;
    border-radius: 0.5em;
    border-width: 0.1em;
    border-color: #F0F2F7;
}

.section2-log input:focus {
    border-color: #0866ff;
    box-shadow: 0 0 3px #5ca2c2;
    outline: none;
}

.section2-log button {
    padding: 0.5em;
    font-size: large;
    border-radius: 0.3em;
    border: none;
    font-family: 'Kanit', sans-serif;
    cursor: pointer;
}

.section2-log button a {
    color: #FFFFFF;
}

.section2-log #button1 {
    width: 100%;
    font-size: large;
    background-color: #0866ff;
    margin-bottom: 0.3em;
}

.section2-log #button1:hover {
    background-color: #296bcd;
}

.section2-log a {
    text-decoration: none;
    color: #0866ff;
    font-size: medium;
}

@media screen and (max-width: 576px) {
    .section1-log {
        padding: 0em;
        padding-top: 12em;
    }

    .section1-log h1 {
        font-size: 14vw;
    }

    .section2-log form {
        padding: 0em;
        padding-top: 5em;
    }
}
  
@media screen and (min-width: 577px) and (max-width: 768px) {
    .section1-log {
        padding: 0em;
        padding-top: 10em;
    }

    .section1-log h1 {
        font-size: 13vw;
    }

    .section2-log form {
        padding: 0em;
        padding-top: 5em;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .section1-log {
        padding: 0em;
        padding-top: 9em;
    }

    .section1-log h1 {
        font-size: 10vw;
    }

    .section2-log form {
        padding: 0em;
        padding-top: 7em;
    }
}
  
@media screen and (min-width: 993px) and (max-width: 1200px) {
    .section1-log {
        padding: 0em;
        padding-top: 8em;
    }

    .section1-log h1 {
        font-size: 7vw;
    }

    .section2-log form {
        padding: 0em;
        padding-top: 9em;
    }
}
